.header-block {
  padding: 23px 0px 0px 0px;
  &__title-block {
    width: 968px;
    min-width: 500px;
    h2 {
      font-size: 20px;
      padding: 0px 0px 4px 50px;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
  &__logo-block {
    padding: 5px 0px 0px 0px;
  }
}

@media (max-width: 800px) {
  .header-block {
    padding: 23px 0px 0px 0px;
    &__title-block {
      width: 300px;
      min-width: 150px;
      h2 {
        font-size: 14px;
        padding: 0px 0px 4px 20px;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
      }
    }
    &__logo-block {
      padding: 0px 0px 0px 5px;
    }
  }
}
