.camera-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.camera-title {
  font-size: 26px;
  font-weight: 300;
  margin: -80px 0px 0px 0px;
  color: #a7a7a7;
}

@media (max-width: 1130px) {
  .camera-body {
    display: block;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .camera-title {
    font-size: 26px;
    font-weight: 300;
    margin: 0px 0px 0px 0px;
    color: #a7a7a7;
  }
}

@media (max-width: 800px) {
  .camera-body {
    display: block;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .camera-title {
    height: 120px;
    font-size: 16px;
    font-weight: 300;
    margin: 50px 0px 0px 0px;
    color: #a7a7a7;
  }
}
